:root {
    --sk-palette-primary: #377133;
    --sk-palette-primary-tint-1: #5F8D5C;
    --sk-palette-primary-tint-2: #87AA85;
    --sk-palette-primary-tint-3: #D7E3D6;
    --sk-palette-primary-shade-1: #21441F;
    --sk-palette-primary-shade-2: #2C5A29;
    --sk-palette-neutral: #1F2532;
    --sk-palette-neutral-tint-1: #2E333F;
    --sk-palette-neutral-tint-2: #4A4F5A;
    --sk-palette-neutral-tint-3: #686C74;
    --sk-palette-neutral-tint-4: #8B8E94;
    --sk-palette-neutral-tint-5: #9DA0A6;
    --sk-palette-neutral-tint-6: #D1D3D5;
    --sk-palette-neutral-tint-7: #EDEEEF;
    --sk-palette-neutral-tint-8: #F6F6F7;
    --sk-palette-success: #78BF4B;
    --sk-palette-success-tint-1: #93CC6F;
    --sk-palette-success-tint-2: #AED993;
    --sk-palette-success-tint-3: #E4F2DB;
    --sk-palette-success-shade-1: #48732D;
    --sk-palette-success-shade-2: #60993C;
    --sk-palette-warning: #FFC120;
    --sk-palette-warning-tint-1: #FFCC46;
    --sk-palette-warning-tint-2: #FFD66C;
    --sk-palette-warning-tint-3: #FFEBB8;
    --sk-palette-warning-shade-1: #A87F15;
    --sk-palette-warning-shade-2: #D4A01B;
    --sk-palette-error: #E3280C;
    --sk-palette-error-tint-1: #E9553F;
    --sk-palette-error-tint-2: #EF8272;
    --sk-palette-error-tint-3: #FBDDD8;
    --sk-palette-error-shade-1: #841707;
    --sk-palette-error-shade-2: #B32009;
    --sk-palette-white: #FFFFFF;
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa: rgb(52, 168, 83);
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa-tint-1: #5DB975;
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa-tint-2: #85CB98;
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa-tint-3: #D6EEDD;
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa-shade-1: #1F6532;
    --sk-palette-c1e0fdec-8113-4fa2-a017-34cf73f0d3fa-shade-2: #2A8642;
    --sk-utility-backgroundColor: #377133;
    --sk-utility-fontColor: #4A4F5A;
    --sk-utility-borderColor: #D1D3D5;
    --sk-utility-selectedBorderColor: #377133;
    --sk-utility-focusColor: #FFC120;
    --sk-utility-modifiedFontColor: #D4A01B;
    --sk-utility-modifiedBackgroundColor: #FFEBB8;
    --sk-borderRadius-primary: 3px;
    --sk-borderRadius-rounded: 999px;
    --sk-borderSize-primary: 1px;
    --sk-borderSize-medium: 2px;
    --sk-borderSize-52f8d939-1509-4d56-9405-8b72e30ac618: -8px;
    --sk-borderStyle-primary: solid;
    --sk-borderStyle-dashed: dashed;
    --sk-fontWeight-bold: 500;
    --sk-fontWeight-regular: 400;
    --sk-fontSize-small: 11px;
    --sk-fontSize-body: 13px;
    --sk-fontSize-medium: 16px;
    --sk-fontSize-increased: 20px;
    --sk-fontSize-large: 25px;
    --sk-fontSize-extraLarge: 32px;
    --sk-fontSize-huge: 50px;
    --sk-fontSize-gigantic: 62px;
    --sk-fontFamily-primary: "Roboto",Helvetica,sans-serif;
    --sk-lineHeight-regular: 1;
    --sk-lineHeight-comfortable: 1.1;
    --sk-lineHeight-roomy: 1.4;
    --sk-lineHeight-spacious: 1.6;
    --sk-opacity-opaque: 1;
    --sk-opacity-dark: 0.85;
    --sk-opacity-medium: 0.5;
    --sk-opacity-light: 0.25;
    --sk-base-spacing: 8px;
    --sk-spacing-s0_5: 4px;
    --sk-spacing-s1: 8px;
    --sk-spacing-s1_5: 12px;
    --sk-spacing-s2: 16px;
    --sk-spacing-s3: 24px;
    --sk-spacing-s4: 32px;
    --sk-spacing-s5: 40px;
    --sk-spacing-s6: 48px;
    --sk-spacing-6a71e2db-b29d-40bd-880f-1d2934bf522e: 5px;
    --sk-spacing-c833c148-8139-4e0a-9691-ed8bebb2e08c: -2px;
    --sk-shadow-light: 0px 1px 2px 0px rgba(0,0,0,0.2),0px 1px 3px 0px rgba(0,0,0,0.1);
    --sk-shadow-lightInset: 0px 1px 3px 0px rgba(0,0,0,0.3) inset;
    --sk-shadow-heavy: 0px 3px 6px 0px rgba(0,0,0,0.16),0px 3px 6px 0px rgba(0,0,0,0.23);
    --sk-shadow-input: 0px 0px 2px 0px rgba(139,143,149,0.12) inset,0px 2px 2px 0px rgba(139,143,149,0.24) inset;
    --sk-shadow-focus: 0px 0px 0px 2px #FFC120;
    --sk-shadow-focusInset: 0px 0px 0px 1px #FFC120 inset;
    --sk-shadow-warning: 0px 0px 0px 1px #FFC120;
    --sk-shadow-9933612a-1ed7-400c-b359-9c731eab117d: 0px 2px 0px 0px rgba(0,0,0,0.2),0px 2px -1px 0px rgba(0,0,0,0.1);
    --ntx-form-theme-color-primary: var(--sk-palette-primary);
    --ntx-form-theme-color-secondary: var(--sk-utility-fontColor);
    --ntx-form-theme-color-page-background: var(--sk-utility-backgroundColor);
    --ntx-form-theme-color-form-background: #377133;
    --ntx-form-theme-color-input-background: var(--sk-utility-backgroundColor);
    --ntx-form-theme-color-secondary: var(--sk-utility-fontColor);
    --ntx-form-theme-border-radius: var(--sk-borderRadius-primary);
    --ntx-form-theme-color-border: var(--sk-utility-borderColor);
    --ntx-form-theme-font-family: var(--sk-fontFamily-primary);
    --ntx-form-theme-text-label-size: 13px;
    --ntx-form-theme-text-input-size: var(--sk-fontSize-body)
}
